@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 20px -2px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.5s, padding 0.5s;
  z-index: 1000;
}

header.rolagem {
  background-color: #fff;
  padding: 10px 4%;
}

header.rolagem a,
header.rolagem i {
  color: #004ca3;
}

header i {
  font-size: 30px;
  color: #fff;
}

header.rolagem i {
  color: #004ca3;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
}

header ul li a {
  color: #004ca3;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.2s;
}

header ul li a.active,
header ul li a:hover {
  color: #004ca3;
}

header ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #004ca3;
  transition: width 0.2s ease, background-color 0.2s ease;
}

header ul li a:hover::after,
header ul li a.active::after {
  width: 100%;
  left: 0;
  background: #004ca3;
}

.main_login {
  width: 100vw;
  height: 100vh;
  background-color: rgb(37, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-login {
  background-color: rgb(215, 220, 250);
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-login h1 {
  font-size: 3vw;
  color: rgb(55, 85, 255);
}
.image {
  width: 35vw;
}
.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-usuario {
  width: 60%;
  background: #303030;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}
.card-usuario h3 {
  color: rgb(0, 81, 255);
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.textfield input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(0, 81, 255);
  color: rgb(218, 218, 218);
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield label {
  color: rgb(218, 218, 218);
  margin-bottom: 10px;
}

.textfield input::placeholder {
  color: rgb(218, 218, 218);
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: rgb(0, 81, 255);
  cursor: pointer;
  font-weight: 800;
}
.btn-login a {
  color: #ffffff;
  text-decoration: none;
}
.btn-login:hover {
  width: 100%;
  padding: 16px 0px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: rgb(0, 107, 139);
  cursor: pointer;
  font-weight: 800;
  box-shadow: 0px 10px 40px -12px #00879952;
}
footer {
  background-color: #0866d1;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
@media only screen and (max-width: 950px) {
  .left-login {
    background-color: #252525;
  }
  .card-usuario {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(37, 37, 37);
  }
  .main_login {
    flex-direction: column;
  }
  .left-login h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .left-login-image {
    width: 50vh;
  }
  .card-usuario {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-links a {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  header {
    padding: 10px 4%;
    font-size: 15px;
  }
  header ul li a:hover::after,
  header ul li a.active::after {
    width: 100%;
    left: 0;
    background: none;
  }

  header ul li {
    margin: 0 10px;
  }

  .banner h1 {
    font-size: 3em;
  }

  .conteudo {
    padding: 20px 4%;
  }

  .conteudo h2 {
    font-size: 2em;
  }

  .conteudo p {
    font-size: 1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header ul li {
    margin: 0 15px;
  }
}
